1DAW/LENGUAJE_DE_MARCAS/UT5/TareaXML+DTD+XML/pokedex.dtd

<!ELEMENT pokedex (pokemon)>

<!-- POKEMON -->

<!ELEMENT pokemon (evoluciones, tipologia, datos_generales, stats_base)>
<!ATTLIST pokemon nombre CDATA #REQUIRED>
<!ATTLIST pokemon num_pokedex CDATA #REQUIRED>

<!-- DATOS GENERALES -->

<!ELEMENT datos_generales (altura, peso, sexo, categoria, habilidad*)>
<!ELEMENT altura (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT sexo (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT habilidad (#PCDATA)>

<!-- TIPOLOGIA -->

<!ELEMENT tipologia (tipos, debilidades)>
<!ELEMENT tipos (tipo)>
<!ELEMENT tipo (descripcion)>
<!ELEMENT descripcion (#PCDATA)>

<!ELEMENT debilidades (debilidad)>
<!ELEMENT debilidad (tipo_debilidad, efectividad)>
<!ELEMENT tipo_debilidad (#PCDATA)>
<!ELEMENT efectividad (#PCDATA)>

<!-- STATS BASE -->

<!ELEMENT stats_base (ps, at, def, spat, spde, vel)>
<!ELEMENT ps (#PCDATA)>
<!ELEMENT at (#PCDATA)>
<!ELEMENT def (#PCDATA)>
<!ELEMENT spat (#PCDATA)>
<!ELEMENT spde (#PCDATA)>
<!ELEMENT vel (#PCDATA)>

<!-- EVOLUCIONES -->

<!ELEMENT evoluciones (evolucion*)>
<!ELEMENT evolucion (orden, num_pokedex)>
<!ELEMENT orden (#PCDATA)>
<!ELEMENT num_pokedex (#PCDATA)>